USE [BD_Tarea3]
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Empleado]    Script Date: 10/30/2023 11:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Erick Kauffmann
--				Samuel Valverde
-- Create date: 25/10/2023
-- Description:	insertar un empleado nuevo en la tabla Empleado
-- =============================================
ALTER PROCEDURE [dbo].[Insertar_Empleado] 
	-- Add the parameters for the stored procedure here
	@inIdUsuarioActual INT
	, @inPostIP VARCHAR(100)
	, @inNombre VARCHAR(125)
	, @inIdTipoIdentificacion INT
	, @inIdentificacion VARCHAR(125)
	, @inFechaNacimiento DATETIME
	, @inIdPuesto INT
	, @inIdDepartamento INT
	, @inUserName VARCHAR(50)
	, @inPassword VARCHAR(50)
	, @outResultCode INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @idEmpleado INT;
	DECLARE @idUsuario INT;
	SET NOCOUNT ON;
	BEGIN TRY
		IF EXISTS(SELECT E.[Id]
						 , E.[Nombre]
						 , E.[idTipoIdentificacion]
						 , E.[Identificacion]
						 , E.[FechaNacimiento]
						 , E.[idPuesto]
						 , E.[idDepartamento]
						 , E.[idUsuario]
				 FROM dbo.Empleado E 
				 WHERE (Nombre = @inNombre or Identificacion = @inIdentificacion) and E.[esActivo] = 1)
		BEGIN
			SET @outResultCode = 50003;  -- ERROR: el empleado ya existia

			SELECT @idEmpleado = E.[Id]
				 , @inNombre = E.[Nombre]
				 , @inIdTipoIdentificacion = E.[idTipoIdentificacion]
				 , @inIdentificacion = E.[Identificacion]
				 , @inFechaNacimiento = E.[FechaNacimiento]
				 , @inIdPuesto = E.[idPuesto]
				 , @inIdDepartamento = E.[idDepartamento]
				 , @idUsuario = E.[idUsuario]
			FROM dbo.Empleado E 
			WHERE (Nombre = @inNombre or Identificacion = @inIdentificacion) and E.[esActivo] = 1;
			INSERT INTO dbo.EventLog (PostIdUser, PostIP, PostTime, LogDescription)
			VALUES (@inIdUsuarioActual, @inPostIP, GETDATE(), 
			'{"TipoAccion": "Insertar empleado no exitoso", 
			"Descripcion": "'+CONVERT(VARCHAR, @idEmpleado)+'", "'+CONVERT(VARCHAR, @inIdTipoIdentificacion)+'", "'+@inIdentificacion+'", "'+@inNombre+'", "'+CONVERT(VARCHAR, @inIdPuesto)+'", "'+CONVERT(VARCHAR, @inIdDepartamento)+'"}');
		END
		ELSE
		BEGIN
			BEGIN TRANSACTION tInsertEmpleado
				SET @outResultCode = 0;  -- no error code
				INSERT INTO dbo.Usuario (UserName, Password, TipoUsuario)
				VALUES (@inUserName, @inPassword, 2);
				SELECT @idUsuario = @@IDENTITY;
				INSERT INTO dbo.Empleado (Nombre, idTipoIdentificacion, Identificacion, FechaNacimiento, idPuesto, idDepartamento, idUsuario) 
				VALUES (@inNombre, @inIdTipoIdentificacion, @inIdentificacion, @inFechaNacimiento, @inIdPuesto, @inIdDepartamento, @idUsuario); 
				SELECT @idEmpleado = @@IDENTITY;

				INSERT INTO dbo.DeduccionXEmpleado
				( [idEmpleado]
				 ,[idTipoDeduccion]
				 ,[Monto]
				 ,[Porcentaje]
				)
				SELECT @idEmpleado, TD.Id,
					   CASE 
							WHEN TD.Porcentual = 1 THEN TD.Valor
							ELSE NULL
					   END
					 , CASE 
							WHEN TD.Porcentual = 2 THEN TD.Valor
							ELSE NULL
					   END
				FROM dbo.TipoDeduccion TD
				WHERE TD.Obligatoria = 1

				-- si el empleado no existe inserta uno nuevo con los parametros
				INSERT INTO dbo.EventLog (PostIdUser, PostIP, PostTime, LogDescription)
				VALUES (@inIdUsuarioActual, @inPostIP, GETDATE(), 
				'{"TipoAccion": "Insertar empleado exitoso", 
				"Descripcion": "'+CONVERT(VARCHAR, @idEmpleado)+'", "'+CONVERT(VARCHAR, @inIdTipoIdentificacion)+'", "'+@inIdentificacion+'", "'+@inNombre+'", "'+CONVERT(VARCHAR, @inIdPuesto)+'", "'+CONVERT(VARCHAR, @inIdDepartamento)+'"}');
			/*
				DECLARE @idTipoDeduccion INT
				SELECT @idTipoDeduccion = TD.Id 
				FROM dbo.TipoDeduccion TD
				INNER JOIN dbo.Empleado E
				ON E.Identificacion = @inIdentificacion
				INNER JOIN dbo.DeduccionXEmpleado DXE
				ON DXE.idEmpleado = E.Id
				AND DXE.idTipoDeduccion = TD.Id
*/
				INSERT INTO dbo.EventLog (PostIdUser, PostIP, PostTime, LogDescription)
				VALUES (@inIdUsuarioActual, @inPostIP, GETDATE(), 
				'{"TipoAccion": "Asociacion empleado con deduccion exitoso", 
				"Descripcion": "'+CONVERT(VARCHAR, @idEmpleado)+'", "'+@inIdentificacion+'", "'+@inNombre+'", "id tipo deduccion: '+CONVERT(VARCHAR, 1)+'"}')
				
				INSERT INTO dbo.EventLog (PostIdUser, PostIP, PostTime, LogDescription)
				VALUES (@inIdUsuarioActual, @inPostIP, GETDATE(), 
				'{"TipoAccion": "Asociacion empleado con deduccion exitoso", 
				"Descripcion": "'+CONVERT(VARCHAR, @idEmpleado)+'", "'+@inIdentificacion+'", "'+@inNombre+'", "id tipo deduccion: '+CONVERT(VARCHAR, 3)+'"}')

			COMMIT TRANSACTION tInsertEmpleado
		END
	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT>0  -- error sucedio dentro de la transaccion
		BEGIN
			ROLLBACK TRANSACTION tInsertEmpleado; -- se deshacen los cambios realizados
		END;

		INSERT INTO dbo.DBErrors	VALUES (
				SUSER_SNAME(),
				ERROR_NUMBER(),
				ERROR_STATE(),
				ERROR_SEVERITY(),
				ERROR_LINE(),
				ERROR_PROCEDURE(),
				ERROR_MESSAGE(),
				GETDATE()
			);
		SET @outResultCode = 50004;  -- código error en la inserción de artículos
	END CATCH
	

	
END
